:root {
    --primary-color: #EE4D2D;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border--color: #dbdbdb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: "Raleway", sans-serif;
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
}

