/* Header */
.header__navbar {
    background-color: var(--white-color);
    opacity: 0.75;
    height: 54px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 16px;
    z-index: 1;
}

.header__navbar:hover {
    background-color: var(--white-color);
    opacity: 1;
}

.header__navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 54px;
    width: 100%;
}

.header__navbar-item {
    width: 25%;
    display: flex;
    justify-content: center;
}

.header__navbar-item--active .header__navbar-item__link:hover {
    color: var(--white-color);
    background-color: var(--black-color);
}

.header__navbar-item__link:hover {
    color: var(--black-color);
    background-color: #ccc;
}

.header__navbar-item__link {
    text-decoration: none;
    font-size: 1.5rem;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: rgb(52,51,50);
    font-weight: 100;
}

/* header img */
.header__body {
    width: 100%;
    position: relative;
}

.header__body-img {
   background: url('../img/WE-lover.jpg');
   background-size: 100% 100%;
   background-repeat: no-repeat;
   padding: 25%;
   filter: brightness(90%);
}

.header__body-content {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translateX(50%) translateY(50%);
    text-align: center;
    color: var(--white-color);
}

.header__body-text {
    font-size: 6.4rem;
    margin: 10px 0;
    line-height: 9.6rem;
    font-weight: 800;
}

.header__body-description {
    font-weight: 400;
    font-size: 3rem;
    margin: 10px 0;
    line-height: 45px;
    letter-spacing: 4px;
}

.header__body-date {
    line-height: 45px;
    font-size: 3rem;
    letter-spacing: 4px;
    font-weight: 400;
}

/* Container */
.container {
    background-color: #ffdddd;
    filter: grayscale(50%);
    padding: 64px 16px;
}

.container-content {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.container-content__heading {
    color: #757575;
    width: 100%;
    text-align: center;
    font-size: 3.6rem;
    line-height: 42px;
    margin: 10px 0;
    padding: 4px 0;
}

.container-content__img {
    width: 100%;
    margin: 32px 0;
    border-radius: 5px;
}

.container-content__text {
    margin: 16px 0;
    font-style: italic;
    font-weight: 400;
    line-height: 3rem;
    font-size: 1.5rem;  
}

.container-btn {
    margin: ;
    text-align: center;
    margin: 75px 0 80px 0;
}

.container-btn__link {
    text-decoration: none;
    font-size: 1.8rem;
    padding: ;
    color: var(--white-color);
    padding: 20px 24px;
    background-color: var(--black-color);
    border-radius: 4px;
}

.container-btn__link:hover {
    background-color: #ccc;
    color: var(--black-color);
}

.container-img {
    background: url('../img/IMG_20210422_064145.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 35%;
    filter: brightness(90%);
    position: relative;
}

.container-img__heading {
    position: absolute;
    bottom: 50%;
    right: 50%;
    filter: brightness(90%);
    transform: translateX(50%) translateY(50%);
    text-align: center;
    color: var(--white-color);
    font-size: 6.4rem;
    line-height: 9.6rem;
    font-weight: 300;
    word-spacing: 5px;
}

.content {
    background-color: #ffdddd;
    filter: grayscale(50%);
    padding: 64px 16px;
}

.content-list {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.content__heading {
    color: #757575;
    width: 100%;
    text-align: center;
    font-size: 3.6rem;
    line-height: 42px;
    margin: 10px 0;
    padding: 4px 0;
}

.content__img {
    width: 100%;
    margin: 32px 0 80px 0;
    border-radius: 5px;
}

.content-body-list {
    display: flex;
    justify-content: space-around;
}

.content-list-item {
    list-style: none;
}

.content-list-heading {
    font-size: 3rem;
    margin: 30px 30%;
    text-align: center;
}

.content-list-heading__item {
    font-size: 1.5rem;
    margin: 30px 0;
    text-align: center;
}

.date {
    background-color: #FFDDDD;
    padding: 86px 0 160px 0;
    text-align: center;
}

.date__heading {
    font-size: 3.6rem;
    font-weight: 400;
    margin: 42px 0;
}

.date__address {
    font-size: 1.8rem;
    letter-spacing: 4px;
    font-weight: 100;

}

.date-btn {
    margin-top: 60px;
}

.date-btn__link {
    font-size: 2.4rem;
    padding: 24px 60px;
    background-color: #F88078;
    color: var(--white-color);
    text-decoration: none;
    border-radius: 4px;
}

.date-btn__link:hover {
    color: var(--black-color);
    background-color: #ccc;
}

.footer {
    background-color: black;
    text-align: center;
    padding: 38px 0;
    margin-bottom: 16px;
}

.footer-heading,.footer-heading__link {
    font-size: 1.8rem;
    color: var(--white-color);
}